<!-- footer.component.html -->
<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h2>Contact</h2>
            <p>Email: najehsalem2023@gmail.com</p>
            <p>Téléphone: 93917867</p>
        </div>
        <div class="footer-section">
            <h2>Liens rapides</h2>
            <ul>
                <li><a routerLink="home">Accueil</a></li>
                <li><a routerLink="home">Produits</a></li>
                <li><a routerLink="contact">Contact</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h2>Suivez-nous</h2>
            <div class="social-icons">
                <a href="#" class="icon-facebook"></a>
                <a href="#" class="icon-twitter"></a>
                <a href="#" class="icon-instagram"></a>
            </div>
        </div>
    </div>
</footer>