<br><br><br>
<table class="table">
    
    <thead>
      <tr>
        <th scope="col">produit</th>
        <th scope="col">prix</th>
        <th scope="col">quantite</th>
        <th scope="col">remove</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">infinix</th>
        <td>600 DT</td>
        <td ><input type="number" value="1" ></td>
        <td> <mat-icon>delete_sweep</mat-icon></td>
      </tr>
      <tr>
        <th scope="row">samsung</th>
        <td>690 DT</td>
        <td><input type="number" value="1"></td>
        <td> <mat-icon>delete_sweep</mat-icon></td>
      </tr>
      <tr>
        <th scope="row">oppo</th>
        <td>400 DT</td>
        <td><input type="number" value="1"></td>
        <td> <mat-icon>delete_sweep</mat-icon></td>
      </tr>
      <tr>
        <th scope="row">huawei</th>
        <td>500 DT</td>
        <td><input type="number" value="1"></td>
        <td> <mat-icon>delete_sweep</mat-icon></td>
      </tr>
    </tbody>
  </table>