<div class="container mt-5">
    <h2>Contactez-nous</h2>
    <form>
        <div class="form-group">
            <label for="name"><b>Nom:</b></label>&nbsp;&nbsp;&nbsp;
            <input type="text" class="form-control" id="name" placeholder="Votre nom">
        </div>
        <br><br>
        <div class="form-group">
            <label for="email"><b>Email:</b></label>&nbsp;&nbsp;&nbsp;
            <input type="email" class="form-control" id="email" placeholder="Votre email">
        </div>
        <br><br>
        <div class="form-group">
            <label for="message"><b>Message:</b></label>
            <textarea class="form-control" id="message" rows="4" placeholder="Votre message"></textarea>
        </div>
        <br><br><br>
        <button type="submit" class="btn btn-primary"><b>Envoyer</b></button>
    </form>
</div>